<app-sidebar></app-sidebar>
          <!-- Page title-->
          <div class="border-bottom pt-5 mt-2 mb-5">
            <h1 class="mt-2 mt-md-4 mb-3 pt-5">Clientes</h1>
            <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
              <p class="text-muted">Este módulo lista todos los clientes de la tienda.</p>
              <p class="font-size-sm font-weight-medium pl-md-4"><a class="text-nowrap" [routerLink]="['/panel/clientes/registro']">Registrar nuevo<i class="cxi-angle-right font-size-base align-middle ml-1"></i></a></p>
            </div>
          </div>

          <div class="card box-shadow-sm">
                <div class="card-header">
                    <h5 style="margin-bottom: 0px;">Filtro de clientes</h5>
                </div>
                <div class="card-header">
                    <form class="form-inline pt-2">
                        <label class="sr-only" for="inline-form-input-name">Apellidos</label>
                        <input class="form-control mb-3 mr-sm-4" name = "filtro_apellido"  [(ngModel)]="filtro_apellido" type="text" id="inline-form-input-name" placeholder="Apellidos" (keyup)="filtro('apellido')">
                        <label class="sr-only" for="inline-form-input-username">Correo</label>
                        <div class="input-group mb-3 mr-sm-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        <input class="form-control" type="text" id="inline-form-input-username" placeholder="Correo" name = "filtro_correo"  [(ngModel)]="filtro_correo" (keyup)="filtro('correo')">
                        </div>
                    
                        <button class="btn btn-primary mb-3" type="submit">Buscar cliente</button>
                    </form>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Nombres</th>
                              <th>Apellidos</th>
                              <th>Correo</th>
                              <th>Opciones</th>
                            </tr>
                          </thead>
                          <!-- el clientes viene el ts -->
                          <tbody *ngFor="let item of clientes | paginate:{itemsPerPage: 10, currentPage: page}; let indice=index" >
                            <tr>
                              <td>{{indice+1}}</td>
                              <td>{{item.nombre}}</td>
                              <td>{{item.apellido}}</td>
                              <td>{{item.email}}</td>
                              <td>
                                <div class="btn-group dropdown d-inside-block mb-3 mr-2" role="group">
                                    <button id="dropdownId" type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        OPCIONES
                                    </button>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item" [routerLink]="['/panel/clientes',item._id]">Editar Cliente</a>
                                      <a class="dropdown-item" style="cursor: pointer;" data-toggle="modal" [attr.data-target]="'#delete-'+item._id">Eliminar Cliente</a>
                                    </div>

                                </div>
                                <div class="modal fade" id="delete-{{item._id}}" tabindex="-1" style="display:none" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h4 class="modal-title">Elimar, {{item.nombre}} {{item.apellido}}</h4>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="close"><span aria-hidden="true">x</span></button>
                                      </div>
                                      <div class="modal-body">
                                        <p>Desea eliminar este cliente?</p>
                                      </div>
                                      <div class="modal-footer">
                                        <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">close</button>
                                        <button class="btn btn-primary btn-shadow btn-sm" (click)="eliminar(item._id)" type="button">Si, eliminar</button>
                                      </div>
                                    </div>
                                  </div>
                                </div> 
                              </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                  <!-- paginador y su documentación -->
                  <!-- https://github.com/michaelbromley/ngx-pagination/blob/master/README.md -->
                  <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                </div>
          </div>  